/* Enter your custom styles here */

#__xmlview0--clientTable-listUl{
    table-layout:auto;
}

.customCellImageBackground {
	color: #fff;
	background-image: url("Night_sky.jpg");
	background-size: 100% auto;
	background-position: 0 80%;
}

.customCellImageBackground .sapUiBlockCellContent,
.customCellImageBackground .sapUiBlockCellContent .sapMText {
	color: #fff;
}

@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}